:root {
  /* Grayscale */
  --sunset0: #161923;
  --sunset1: #1F2437;

  --sunset2: #2C334D;

  --sunset3: #ACB5DC;
  --sunset4: #B7BCD4;
  --sunset5: #D7D9E6;

  /* Gradient */
  --sunset6: #FF7965;
  --sunset7: #FE7478;
  --sunset8: #F9728A;
  --sunset9: #F1739A;
  --sunset10: #E675A8;
  --sunset11: #D879B4;
  --sunset12: #C97EBC;
  --sunset13: #B882C2;
  --sunset14: #A886C3;
  --sunset15: #9889C2;
  --sunset16: #8A8BBE;
  --sunset17: #7F8CB8;

  /* Rainbow */
  --sunset18: #E675A8;
  --sunset19: #E69275;
  --sunset20: #E6E275;
  --sunset21: #9AE675;
  --sunset22: #75E6A0;
  --sunset23: #75DCE6;
  --sunset24: #758CE6;
  --sunset25: #AE75E6;
}
