/*              *
 * color scheme *
 *              */

:root {
    --gradient-start:  #F9728A;
    --gradient-middle: #D879B4;
    --gradient-end:    #7F8CB8;

    --page-bg: #161923;
    --page-fg: #B7BCD4;

    --section-bg:               #1F2437;
    --section-fg:               #B7BCD4;

    --section-button-bg:        #2C334D;
    --section-button-fg:        #D7D9E6;
    --section-button-bg-hover:  #1F2437;
    --section-button-fg-hover:  #1F2437;
    --section-button-bg-active: #2C334D;
    --section-button-fg-active: #7F8CB8;

    --text-shadow: #16192350;
}

/*                      *
 * other theme settings *
 *                      */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
@import "animations.css";

.panel {
    border-radius: 7px;

    color: var(--section-bg);
    background-color: var(--section-bg);
}

.searchbar-item {
    font-family: 'Ubuntu';
    font-weight: 400;

    border-radius: 4px;

    color: var(--section-button-fg);
    background-image: linear-gradient(30deg, var(--gradient-middle), var(--gradient-end));
    
    text-shadow: 0 0 8px var(--text-shadow);
}

.playback-controls {
    border-radius: 7px;

    color: var(--section-bg);
    background-color: var(--section-bg);
}

.playback-controls button {
    font-family: 'Ubuntu';

    border-radius: 7px;

    color: var(--section-button-fg);
    background-image: linear-gradient(30deg, var(--gradient-middle), var(--gradient-end));
}

.playback-controls button:focus-visible,
.playback-controls button:hover {
    color: var(--section-button-fg-hover);
    background-image: linear-gradient(30deg, var(--gradient-start), var(--gradient-middle));
}

.playback-controls button:active {
    color: var(--section-button-fg-hover);
    opacity: 50%;
}

.time-slider {
    background: var(--page-bg);
    display: inline-block;
}


body {
  color:            var(--page-fg);
  background-color: var(--page-bg);
}

.time-slider::-moz-range-progress {
    height: 100%;
    background-image: linear-gradient(30deg, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
}

.config-slider {
    background: none;
}

.config-slider::-moz-range-thumb {
    background-color: var(--section-button-fg);
}

.config-slider::-moz-range-track {
    background-color: var(--page-bg)
}
.config-slider::-moz-range-progress {
    background-image: linear-gradient(30deg, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
}


.search-result {
    height: 60px;
    width: calc(100% - 8px);
}

.search-result-text {
    display: block;
    color: var(--page-fg);
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

